################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NexusNova.Api/bin/Debug/net10.0
/NexusNova.Api/obj
/NexusNova.AppHost/obj
